.t-body a{
    text-decoration: none;
    color: black;
}

.news-block a{
    text-decoration: none;
    color: black;
}

.container{
    display: inline;
    height: 2900;
    justify-content: left;
}
.holder{
    display: flex;
    align-items: center;
    vertical-align: middle;
    width: 1500px;
    height: 57.12px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #181313;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}
#logo{
    width: 45px;
    height: 46.838px;
    flex-shrink: 0;
    padding-left: 25px;
    padding-top: 5px;
}
#name{
    margin-top: 15px;
    width: 80px;
    height: 38.842px;
    flex-shrink: 0;
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.holder a{
    width: 57px;
    height: 21.706px;
    flex-shrink: 0;
}
#home{
    margin-left: 700px;
    text-decoration: none;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#tournament{
    margin-left: 55px;
    text-decoration: none;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
#news{
    margin-left: 120px;
    text-decoration: none;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
#contact{
    margin-left: 55px;
    text-decoration: none;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
#login{
    width: 36px;
    height: 41.126px;
    flex-shrink: 0;
    margin-left: 95px;
}
#main{
    display: inline-flex;
}
.main_new{
    display: block;
    height: 2743px;
    width: 1060px;
}
.slider{
    position: relative;
    margin-top: 20px;
    width: 1060px;
    height: 344px;
    flex-shrink: 0;
    border-radius: 15px;
    background-size: cover;
}

.slider img{
    position: absolute;
    width: 1060px;
    height: 344px;
    flex-shrink: 0;
    border-radius: 15px;
    background-size: cover;
}
#sidebar{
    display: block;
    text-align: center;
    width: 420px;
    height: 2900px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #181313;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-top: 20px;
    margin-left: 20px;
}
#sidebar h1{
    color: #FFF;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0px;
}
#sidebar .sidebar_line{
    margin-top: 26.8px;
    height: 3px;
    background: white;
}
.events{
    margin:0 auto;
    display: flex;
    align-items: center;
    margin-top: 50px;
    width: 383px;
    height: 124.722px;
    flex-shrink: 0;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.05);
}
.events img{
    margin-left: 40px;
    width: 86px;
    height: 85.524px;
    flex-shrink: 0;
    border-radius: 103px;
    background: lightgray 50% / cover no-repeat;
    background-color: wheat;
}
.events h6{
    color: #FFFBFB;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 28px;
}
#sidebar p{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 86px;
}
.news_box_pair{
    width: 1060px;
    height: 359px;
    display: flex;
    margin-top: 25px;
}
.newsarticles1{
    position: relative;
    display: inline-block;
    width: 520px;
    height: 359px;
    border-radius: 15px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.newsarticles1 button{
    display: inline;
    position: absolute;
    top: 20px;
    right: 20px;
}
.newsarticles2{
    position: relative;
    display: inline-block;
    width: 520px;
    height: 359px;
    border-radius: 15px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-left: 20px;
}
.newsarticles2 button{
    display: inline;
    position: absolute;
    top: 20px;
    right: 20px;
}
.news_box_pair .newsarticles1 img{
    width: 520px;
    height: 359px;
    border-radius: 15px;
    background:lightgray 50% / cover no-repeat;
}
.news_box_pair .newsarticles2 img{
    width: 520px;
    height: 359px;
    border-radius: 15px;
    background: lightgray 50% / cover no-repeat;
}

.line{
    width: 1060px;;
    height: 3px;
    background: black;
    margin-top: 88px;
    margin-bottom: 40px;
}
.main_topgames{
    display: block;
}
.main_topgames h1{
    font-family: Inter;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.gamelists{
    display: flex;
}
.list1 .list2{
    margin-top: 40px;
    display: inline-block;
}
.list2{
    margin-left: 44px;
}
.list1 img{
    width: 232px;
    height: 333px;
    flex-shrink: 0;
    border-radius: 15px;
    background: black;
}
.list1 h2{
    color:black;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.list2 img{
    width: 232px;
    height: 333px;
    flex-shrink: 0;
    border-radius: 15px;
    background: black;
}
.list2 h2{
    color:black;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.button{
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  background: #F00;
}
.btnpos{
    margin-top: 10px;
    text-align: center;
}
.abt_games{
    display: block;
}
.abt_games h1{
    font-family: Inter;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.abt_games img{
    width: 1060px;
    height: 336px;
    flex-shrink: 0;
    border-radius: 15px;
    background: black;
}
.abt_games h2{
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.abt_games p{
    color: black;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
footer{
    margin-top: 20px;
}
.holder p{
    color: #FFF;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 1300px;
}







.t-body{
    display: block;
}
.t-body h1{
    font-family: Inter;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    margin-bottom: 76px;
}
.t-body h2{
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.t-body h3{
    flex-shrink: 0;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.t-body p{
    margin-left: 100px;
    width: 1273px;
    flex-shrink: 0;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 60px;
}

.line_t{
    width: 1500px;;
    height: 3px;
    background: black;
    margin-top: 14px;
}

.tments{
    display: block;

}

.tments_img{
    width: 1300px;
    height: 379px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #D9D9D9;
    margin-left: 100px;
    margin-bottom: 70px;
    margin-top: 70px;
}

.mid_line{
    width: 1400px;;
    height: 3px;
    background: black;
    margin-top: 14px;
    margin-left: 50px;
}












.slider button{
    position: absolute;
    top: 50%;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-decoration: none;
    background-color: rgb(237, 199, 199);
    opacity: 40%;
    border: none;
    cursor: pointer;
}
.button-next{
    right: 2px;
}
.button-prev{
    left: 2px;
}

.slider button:hover{
    background-color: white;
    color: black;
    opacity: 100%;
}





.container h1{
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 70px;
    margin-bottom: 80px;
}

.news-block{
    display: block;
}

.newspi{
    display: inline-flex;
}

.newspi img{
    width: 640px;
    height: 510px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #D9D9D9;
    margin-left: 20px;
}

.news-info{
    display:block;
}

.news-info h2{
    width: 640px;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 20px;
}

.news-info p{
    width: 635px;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 20px;
}


.news-line{
    width: 1400px;
    height: 2px;
    background-color: #181313;
    margin-top: 74px;
    margin-left: 50px;
    margin-bottom: 74px;
}







.ccontainer {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.ccontainer h1 {
    text-align: center;
    color: #333;
}

.ccontainer form {
    display: flex;
    flex-direction: column;
}

.ccontainer label {
    margin-bottom: 5px;
    font-weight: bold;
}

.ccontainer input,
.ccontainer textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#pername{
    width: 578px;
    height: 15.5px;
}

.ccontainer button {
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.ccontainer button:hover {
    background-color: #0056b3;
}


